<div 
  class="form-group has-feedback" 
  [class.has-success]="input.valid && input.touched" 
  [class.has-error]="!input.valid && input.touched"
>
  <!-- input -->  
  <ng-content></ng-content>

  <label class="control-label sr-only">{{label}}</label>
  <span *ngIf="showErrorMessage && (input.valid && input.touched)" class="help-block"><i class="fa fa-check"></i> Ok</span>
  <span *ngIf="showErrorMessage && (!input.valid && input.touched)" class="help-block"><i class="fa fa-remove"></i> {{errorMessage}}</span>
</div>