<section class="content-header">
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="jumbotron">
      <img src="./../../assets/imgs/404.png" /><h2>Página Não Encontrada</h2>
      <p>
        Está com fome? Acesse a página de <a [routerLink]="['/restaurants']">restaurantes</a>.
      </p>
    </div>
</section>