<div class="col-xs-12" *ngIf="isCartEmpty()">
  <p>
    Não há itens no seu carrinho. Que tal começar por <a [routerLink]="['/restaurants']">aqui</a>?
  </p>
</div>

<table class="table table-striped" *ngIf="!isCartEmpty()">
	<thead>
    	<tr>
        	<th class="text-center">Quantidade</th>
            <th>Item</th>
            <th>Descrição</th>
            <th class="text-right">Subtotal</th>
            <th class="text-right"></th>
       	</tr>
  	</thead>
    <tbody>
    	<tr *ngFor="let item of items">
        	<td class="text-center">
	            <a (click)="decreaseQty(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
	            {{item.qty}}
	            <a (click)="increaseQty(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
            </td>
			<td>{{item.menuItem.name}}</td>
           	<td>{{item.menuItem.description}}</td>
            <td class="text-right">{{item.getSubtotal() | currency: 'BRL'}}</td>
            <td class="text-right">
            	<a (click)="remove(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
           	</td>
      	</tr>
    </tbody>
</table>