  <!-- header -->
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a [routerLink]="['/home']"class="navbar-brand"><b>Food</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a [routerLink]="['/restaurants']">Restaurantes</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/my-orders']">Meus pedidos</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="user user-menu">
                <a (click)="login()" *ngIf="!isLoggedIn(); else dadosUsuario">Entrar</a>
                <ng-template #dadosUsuario>
                  <span>
                    <i class="fa fa-user"></i> {{getNomeUsuarioLogado()}} | 
                    <a (click)="logout()"><i class="fa fa-sign-out"></i> Sair</a>
                  </span>
                </ng-template>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <!-- ./header -->