  <!-- footer -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Copyright &copy; 2019 <a href="https://github.com/carlosdaniiel07/food-app" target="_blank">Food App</a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
  <!-- /.footer -->