                <div class="col-sm-6 col-xs-12" [@pulseOnEnter]>
                    <div class="place-info-box">
                      <span class="place-info-box-icon"><img [src]="restaurant.logo" /></span>

                      <div class="place-info-box-content">
                        <a [routerLink]="['/restaurants', restaurant.id]"><span class="place-info-box-text">{{restaurant.name}}</span></a>
                        <span class="place-info-box-star"><i class="fa fa-star text-yellow"></i> {{restaurant.rating}}</span>
                        <span class="place-info-box-detail">{{restaurant.category}}</span>
                        <span class="place-info-box-detail">{{restaurant.deliveryTime}}</span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->