<div class="form-group">
	<div *ngFor="let option of options">
		<label>
    		<div (click)="selectOption(option)" [class.text-red]="option.value == selectedOption.value" style="position: relative; cursor: pointer;">
    			{{option.label}}
        	</div>
  		</label>
	</div>                   
</div>