<div class="col-md-9 col-xs-12" [@fadeInOnEnter]>
  <food-restaurant-menu-item 
    *ngFor="let item of menus | async" 
    [menuItem]="item"
    (addMenuItemEventEmitter)="shoppingCart.addMenuItemOnCart($event)">
  </food-restaurant-menu-item>
</div>

<div class="col-md-3 col-xs-12">
  <food-shopping-cart #shoppingCart ></food-shopping-cart>
</div>