<div class="col-xs-12 col-sm-6" *ngFor="let review of reviews" [@fadeInUpOnEnter]>
  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> {{review.rating | number: '1.1-1'}}</span>
      <div class="user-block">
        <img *ngIf="review.rating < 3" alt="User Image" class="img-circle" src="assets/imgs/reactions/pissed.png">
        <img *ngIf="review.rating >= 3 && review.rating < 4" alt="User Image" class="img-circle"
          src="assets/imgs/reactions/soso.png">
        <img *ngIf="review.rating >= 4" alt="User Image" class="img-circle" src="assets/imgs/reactions/loved.png">
        <span class="username">{{review.name}}</span>
        <span class="description">{{review.date | date:'dd/MM/yyyy'}}</span>
      </div>
    </div>

    <div class="box-body">
      <p>{{review.comments}}</p>
    </div>
  </div>
</div>

<!-- create-review-box -->
<div *ngIf="isLogado()" class="col-xs-12 col-sm-12" [@bounceOnEnter]>
  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right">
        <a (click)="decreaseRating()" class="btn btn-sm"><i class="fa fa-minus"></i></a>
        {{rating.value.toFixed(1)}}
        <a (click)="increaseRating()" class="btn btn-sm"><i class="fa fa-plus"></i></a>
      </span>

      <div class="user-block">
        <img *ngIf="rating.value < 3" alt="User Image" class="img-circle" src="assets/imgs/reactions/pissed.png">
        <img *ngIf="rating.value >= 3 && rating.value < 4" alt="User Image" class="img-circle"
          src="assets/imgs/reactions/soso.png">
        <img *ngIf="rating.value >= 4" alt="User Image" class="img-circle" src="assets/imgs/reactions/loved.png">

        <span class="username">Você</span>
        <span class="description">{{getCurrentDate()}}</span>
      </div>
    </div>

    <div class="box-body">
      <form [formGroup]="reviewForm">
        <div class="row">
          <div class="form-group col-md-12">
            <textarea formControlName="comments" class="form-control" rows="3" placeholder="Digite algo aqui..."></textarea>
          </div>
        </div>

        <button [disabled]="reviewForm.invalid" (click)="enviarReview()" type="button" class="btn btn-success btn-sm pull-right">
          <i class="fa fa-check"></i> Enviar
        </button>
      </form>
    </div>
  </div>
</div>