<section class="invoice" [@fadeInOnEnter]>
  <div *ngIf="!hasItems()">
    <p class="text-center"><i class="fa fa-exclamation-triangle"></i> Não há itens no seu carrinho. Que tal começar por <a [routerLink]="['/restaurants']">aqui</a>?</p>
  </div>

  <div *ngIf="hasItems()">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
        </h2>
      </div>
    </div>
  
    <form [formGroup]="deliveryForm">
      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Dados pessoais:</p>
            <div class="col-sm-6 col-xs-12">
              <food-generic-input label="Nome" errorMessage="Obrigatório!">
                  <input formControlName="cliente" type="text" class="form-control" placeholder="Nome completo">
              </food-generic-input>  
            </div>
        </div>

        <div class="col-xs-12">
            <p class="lead">Endereço para entrega:</p>
              <div class="col-md-2 col-xs-6">
                <food-generic-input label="CEP" errorMessage="" [showErrorMessage]="false">
                    <input formControlName="cep" (blur)="buscaEndereco()" mask="00000-000" type="text" class="form-control" placeholder="CEP">
                </food-generic-input>
              </div>

              <div class="col-md-6 col-xs-12">
                  <food-generic-input label="Logradouro" errorMessage="Obrigatório!">
                      <input formControlName="endereco" type="text" class="form-control" placeholder="Logradouro (rua, avenida, etc.)">
                  </food-generic-input>
              </div>

              <div class="col-md-4 col-xs-12">
                  <food-generic-input label="Complemento" errorMessage="!">
                      <input formControlName="complemento" type="text" class="form-control" placeholder="Algo que nos possa ajudar :)">
                  </food-generic-input>
              </div>
          </div>
      </div>
      <!-- /.row -->
    </form>
  
    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12">
        <p class="lead">Itens do Pedido:</p>
      </div>
      <div class="col-xs-12 table-responsive">
        <food-order-items [items]="getCartItems()" (increaseQtyEventEmitter)="increaseQty($event)"
          (decreaseQtyEventEmitter)="decreaseQty($event)" (removeEventEmitter)="remove($event)"></food-order-items>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  
    <div class="row">
      <!-- accepted payments column -->
      <div class="col-sm-6 col-xs-12">
        <p class="lead">Formas de Pagamento:</p>
        <div class="form-group">
          <food-radio-input [options]="paymentMethods" (selectOptionEventEmitter)="selectPaymentMethod($event)">
          </food-radio-input>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-sm-6 col-xs-12">
        <p class="lead">Frete e Total:</p>
  
        <div class="table-responsive">
          <food-order-summary></food-order-summary>
        </div>
      </div>
      <!-- /.col -->
    </div>
  
    <div class="row">
      <div class="col-xs-12">
        <button (click)="finalizaPedido()" [disabled]="!isFormValid()" class="btn btn-success pull-right"><i
            class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>
  </div>
</section>