<table class="table">
	<tbody>
		<tr>
        	<th style="width:50%">Itens:</th>
            <td class="text-right">{{getTotalCarrinho() | currency: 'BRL' }}</td>
       	</tr>
       	<tr>
        	<th>Frete:</th>
       		<td class="text-right">{{getFrete() | currency: 'BRL' }}</td>
        </tr>
		<tr>
        	<th>Total:</th>
            <td class="text-right">{{getTotalPedido() | currency: 'BRL' }}</td>
      	</tr>
    </tbody>
</table>