<div *ngFor="let order of orders" class="col-sm-12 col-xs-12" [@fadeInOnEnter]>
  <div class="box box-widget widget-user-2">
    <div class="widget-user-header">
      <!-- <div class="widget-user-image">
        <img class="img-circle" src="assets/imgs/restaurants/icy.png" alt="User Avatar">
      </div> -->
      <small class="pull-right">{{order.createdAt | date: 'dd/MM/yyyy HH:mm'}}</small>

      <h4 class="widget-user-desc">{{order.id}}</h4>

      <br />

      <h5 class="widget-user-desc">
        <strong>Endereço:</strong> {{order.address}}
      </h5>
      <h5 class="widget-user-desc">
        <strong>Forma de pagamento:</strong> {{order.paymentOption}}
      </h5>
      <h5 *ngIf="isEntregue(order)" class="widget-user-desc">
        <strong>Data de entrega:</strong> {{order.completedAt | date: 'dd/MM/yyyy HH:mm'}}
      </h5>
      <h5 class="widget-user-desc">
        <strong>Valor total:</strong> {{order.totalValue | currency: 'BRL'}}
      </h5>
    </div>
    <div class="box-footer">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th class="text-center">Quantidade</th>
              <th>Item</th>
              <th>Descrição</th>
              <th class="text-left">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.items">
              <td class="text-center">{{item.qty}}</td>
              <td>{{item.menuItem.name}}</td>
              <td>{{item.menuItem.description}}</td>
              <td class="text-left">{{item.totalValue | currency: 'BRL'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
 
      <button [@swingOnEnter] *ngIf="!isEntregue(order)" (click)="confirmarEntrega(order)" type="button" class="btn btn-success btn-sm pull-right">
        <i class="fa fa-check"></i> Confirmar entrega
      </button>
      <button [@swingOnEnter] *ngIf="isEntregue(order) && !isRated(order)" (click)="showAvaliacaoModal(order)" type="button" class="btn btn-warning btn-sm pull-right">
        <i class="fa fa-star"></i> Avaliar
      </button>
    </div>
  </div>
</div>