<div class="wrapper">
  <food-header></food-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Main content -->
      <section class="content">
          <router-outlet></router-outlet>       
      </section>
      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->

  <food-footer></food-footer>
</div>