<section class="content login-content" style="margin: 10% auto">
  <div class="login-logo">
    <b>Food App</b> | Login
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <p class="login-box-msg">Por favor, efetue o login para continuar</p>

    <form [formGroup]="loginForm">
      <food-generic-input [showErrorMessage]="false">
          <input type="text" class="form-control" placeholder="Login" formControlName="login">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </food-generic-input>
      
      <food-generic-input [showErrorMessage]="false">
          <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </food-generic-input>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-offset-8 col-xs-4">
          <button type="submit" [disabled]="!loginForm.valid" (click)="efetuaLogin()" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</section>