<div class="box box-solid" [@swingOnEnter]>
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <div *ngIf="isCarrinhoEmpty()">
      <p class="text-center">
        Seu carrinho está vazio!
      </p>
    </div>
    <div *ngIf="!isCarrinhoEmpty()" class="table-responsive">
        <table class="table">
          <tbody>
            <tr *ngFor="let cartItem of getCartItems()">
              <th>{{cartItem.menuItem.name}} ({{cartItem.qty}}x)</th>
              <td class="text-right">{{cartItem.getSubtotal() | number: '1.2-2'}}</td>
              <td class="text-right">
                <a (click)="removeFromCart()" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
              </td>
            </tr>
            <tr>
              <th>Total:</th>
              <td class="text-right"><b>{{getTotalCarrinho() | currency: 'BRL'}}</b></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div *ngIf="!isCarrinhoEmpty()" class="box-footer">
      <div class="pull-right">
        <button (click)="clearCart()" type="button" class="btn btn-sm btn-flat btn-danger"><i class="fa fa-trash"></i> Limpar</button>
        <a [routerLink]="['/order']" class="btn btn-sm btn-flat btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
      </div>
    </div>
</div>